<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Options Islamia Unversty Of Bahawalpur</title>
    <style>

        .options tr th:hover{
            background-color: rgba(5, 50, 37, 0.783);
            border-radius: 20px;
        }
        .options tr{
            height: 70px;
        }
        .options tr th a{
            color: white;
            font-size: 20px;
            font-weight: bolder;
        }
        .options tr th a:hover{
            color: orange;
        }
        </style>
</head>
<body style='background-color: rgba(9, 77, 71, 0.829);'>
    <div class='options'>
    <table width='100%'>
        <tr>
            <th>
    <a href='scholarship_upload/'>Upload Scholarship</a>
            </th>
            <th>
                <a href='main_admin/'>Main Admin</a>
            </th>
        </tr>
        <tr height='40px'></tr>
    </table>
    </div>
    <table width='100%'>
        <tr height='100px'>
            <th colspan='4' style='background-color: #1c958dd3; border-radius: 40px; font-size: 30px;'>
                Select the Option Below  to check the data of following catagories 
            </th>
        </tr>
        <tr height='100px'>
        </tr>
        <tr>
            <th width='100px'>
            </th>
            <th style=' border-radius: 40px; background-color: rgba(9, 77, 71, 0.829);;'><br><br>
                <a href='admission_data/' style='color: black;'>Admission Data </a><br><br>
                <a href='scholarship_data/' style='color: black;'>Scholarship Data</a><br><br>
                <a href='vehicle_parking_data/' style='color: black;'>Car Parking Data </a><br><br>
                <a href='fee_concession_data/' style='color: black;'>Fee concession Data</a><br><br>
                <a href='library_card_applicants_data/' style='color: black;'>LIbrary Card Data </a><br><br>
                <a href='repeat_course_data/' style='color: black;'>Repeat course</a><br><br>
            </th>
            <th width='100px'>
            </th>
        </tr>
    </table>
    
</body>
</html>