<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Recovery Email Islamia Universty Of Bahawalpur </title>
</head>
<body>
    <table align='center' width='100%''>
        <tr>
            <th style='background-color: grey; border-radius: 30px; font-size: 20px;' height='70px'>
                Data Recovery Email Islamia Universty Of Bahawalpur 
            </th>
        </tr>
        <tr height='40px'></tr>
        <tr>
            <th>
                Dear {{ name }}, <br>your data recovery email from Islamia Universty Of Bahawalpur Is 
            </th>
        </tr>
        <tr height='40px'>
            <th>
                Name ={{name}}<br>
                Father_name = {{ father_name }}<br>
                Phone_number ={{ phone_number }}<br>
                Email_Adress ={{ email }}<br>
                Password ={{ password }}<br>
                Cnic ={{ cnic }}
            </th>
        </tr>
        <tr height='40px'></tr>
        <tr>
            <th style='background-color: grey; border-radius: 20px;'>
                Thanks For Visiting Us
            </th>
        </tr>
    </table>
    
</body>
</html>