<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account verification</title>
</head>
<body style='background-color: #e2d059b2;'>
    <table width='100%'>
        <tr style=' background-color: rgba(205, 150, 68, 0.891); ''>
            <th colspan='4' style='border-radius: 30px;'>
                <h2 style='border-radius: 30px;'>Dear {{ form }} ,<br>Welcome to Islamia Universty Of Bahawalpur</h2> 
            </th>
        </tr>
        <tr>
            <th height='100px' colspan='4'>
                Thanks for Registering yourself to Islamia <br>Universty Of Bahawalpur. 
                Your One Time Password (OTP) is {{ otp }} <br>
                <br>Please click   below button to verify<br> your account 
                
            </th>
        </tr>
        <tr>
          
            <th colspan='3'><p style=' border-radius: 10px; border: 2px solid grey; background-color: grey;' ><a href='http://127.0.0.1:8000/otp/'>Verify Your Account</a></p>
            </th>
       
        </tr>
        <tr>
            <th colspan='4'>
                for more information contact us :
                <br>03267613716
            </th>
        </tr>
    </table>
    
</body>
</html>