{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Approvement application Islamia Universty Of Bahawalpur</title>
</head>
<body>
    <table width='100%'>
        <tr>
            <th height='200px' style='font-size: 30px; background-color:rgba(10, 111, 82, 0.783); border-radius:20px;' colspan='4'>
               Library Approval Application Form IUB
            </th>
        </tr>
    </table>
    <table>
        <tr>
            {%include "Quid.html" %}
        </tr>
    </table>
    <table width='100%'>
        <tr>
        <tr>
            <th>
                <img src='{% static "iub image.jpg" %}' style='border-radius: 40px;'>
            </th>
            <th>
                <form method='POST' enctype='multipart/form-data' style='border: 2px solid black; border-radius: 40px; background-color: rgba(10, 111, 82, 0.783);'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' value='Upload' style='background-color: orange;'>
                </form>
            </th>
        </tr>
    </table>
    
</body>
</html>