<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quid Motto </title>
</head>
<body>
    <table width='100%'>
        {% load static  %}
        <tr>
            <th>
                <marquee behavior='alternate' scrollamount='3'>
                <img src='{% static "Quid.jpg " %}' height='400px' width='400px' style='border-radius: 30px;'>
                </marquee>
                <br><br>
            </th>

        </tr>
    </table>
    
</body>
</html>