<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request For Detail Islamia Universty Of Bahawalpur </title>
</head>
<body>
    <table width='100%'>
        <tr height='100px'>
            <th style=' border-radius: 30px; font-size: 30px; background-color: rgba(10, 111, 82, 0.783)'>Enter your CNIC to get the detail 
            </th>
        </tr>
        <tr height='40px'>
        </tr>
        <tr>
            <th>
                <form method='POST' enctype='multipart/form-data'>
                    {% for x in messages %}
                        <p>{{ x }}</p>
                    {% endfor %}
                    {% csrf_token %}
                    {{ form.as_p}}
                    <input type='submit' value='Get detail ' style='background-color: orange; border-radius: 20px;'>
            </th>
        </tr>
    </table>
</body>
</html>