<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship Verification </title>
</head>
<body style='background: rgb(179, 149, 79);'>
    <table width='100%'>
        <tr style='background-color: grey; height: 20px;'>
            <th style='border-radius: 30px;'>Scholarship verification Islamia Universty Of Bahawalpur
            </th>
        </tr>
        <tr>
            <th  style='font-size: 20px;' colspan='3'><br><br><br>Dear {{ form }},<br>
                Your application for scholarship is submitted successfully You will soon receive a verification message if your deserve
                
            </th>
        </tr>
        <tr>
            <th height='100px' colspan='3'>For more information contact us :<br>
                03267613716
            
            </th>
        </tr>
    </table>
    
</body>
</html>